# This file specifies packages needed for SPCS based tasks (container notebooks and mljobs)
# The shared ml_utils package will be loaded automatically to ml_jobs and by using the install_stage_package function in notebooks
snowflake-snowpark-python
snowflake-ml-python